* {
    margin: 0;
    padding: 0;
}

.info {
    font-family: 'Lato', sans-serif;
}

.top__bar {
    height: 75px;
    width: 100%;
    background-color: #222222;
    display: flex;
    gap: 859px;
}

.top_left {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 231px;
    display: flex;
    gap: 41px;
}

.top_right {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 240px;
    display: flex;
    gap: 33px;
}

.top_button {
    background-color: #222222;
    border: none;
}

.advertisement {
    background-color: #F1E4E6;
    display: flex;
    gap: 63.42px;
}

.advert_header {
    display: flex;
    gap: 16px;
    margin-top: 289px;
}

.rectangle {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.offer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    margin-top: 65px;
    position: relative;
}

.description {
    position: absolute;
    text-align: center;
}

.attention {
    margin-top: 96px;
    text-align: center;
}

.info {
    margin-top: 6px;
}

.featured {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    margin-top: 47px;
}

.case {
    background-color: #F8F8F8;
}

.category {
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 28.8px;
}

.information {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 28.8px;
}

.price {
    margin-top: 16px;
    margin-bottom: 19px;
    margin-left: 16px;
    margin-right: 28.8px;
}

.central_button {
    margin-top: 48.5px;
    padding-bottom: 60.5px;
}

.products {
    height: 47px;
    width: 211px;
    /*position: center;*/
    background-color: #ffffff;
    color: #F26376;
    border-color: #F26376;
    display: block;
    margin: 0 auto;
}